table {
  border-style: dotted;
  border-color: red;
}

th {
  background-color: black;
  color: white;
  padding: 8px;
}
td {
  padding: 2px;
}

h1 {
  font-family: serif;
  background-color: red;
}

h2 {
  font-family: sans-serif;
  background-color: yellow;
}
h3 {
  background-color: green;
}
p {
  font-family: "comic sans";
}
